<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<button (click)="findInformationTest()">Probar</button>
<main class="main">
  
  <div class="content">
    
    <app-card-clans-content [cwl]="false" [titleCard]="titleWar" [clans]="clans" />

    <app-card-clans-content [cwl]="true" [titleCard]="titleCWL" [clans]="clans" />
  </div>
</main>

<router-outlet />