<!-- Cuando el clan no tiene activado el registro de guerra en publico  -->
<!-- {"reason":"accessDenied"} -->
<section>
  <p>Information</p>
  <mat-form-field class="example-full-width">
    <mat-label>Information</mat-label>
    <textarea 
    matInput 
    placeholder="Information Clash of Clans"
    [(ngModel)]="textCopy"
    rows="10"
    >
    <!-- {{ data | json}} -->
  </textarea>
  </mat-form-field>
  
  <br>
  <!-- <button (click)="back()">Back</button>
  <button (click)="copy()">Copy</button> -->
  <button mat-flat-button (click)="copy()">Copy</button>
  <button mat-stroked-button (click)="back()">Back</button>
</section>
