mat-form-field{
  width: 100%;
}
section{
  padding: 1rem 5rem 1rem 5rem;
  max-width: 100%;
  /* text-align: center; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
button{
  /* max-width: 100%; */
  width: 100%;
  margin-left: .5rem;
  margin-right: .5rem;
}

.example-card {
  max-width: 800px;
  width: 500px;
}

.example-header-image {
  /* background-image: url('../../../assets/images/capital.webp'); */
  background-size: cover;
}
.capital{
  background-image: url('../../../assets/images/capital.webp');
  background-size: cover;
}
.cwl{
  background-image: url('../../../assets/images/cwl.webp');
  background-size: cover;
}
.war{
  background-image: url('../../../assets/images/war.webp');
  background-size: cover;
}

@media( max-width: 500px){
  section{
    padding: 1rem;
  }
  .example-card {
    width: 100%;
  }
  mat-card-actions{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }
}

